.hero {
  position: relative;

  background-color: #2f303a;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/background.jpg);

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 200px 0px;
}

.hero-section {
  text-align: center;
}

.hero-section__title {
  color: $white-color;

  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-section__button {
  color: $white-color;
  background: #2196f3;
  cursor: pointer;

  min-width: 216px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero-condescension {
}

.condescension__list {
  display: flex;
  gap: 30px;
}

.condescension__item {
  width: calc((100% - 90px) / 4);
}

.condescension__icon {
  max-width: 270px;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;

  margin-bottom: 30px;
}

.condescension__title {
  color: $main-color;

  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.condescention__text {
  color: $second-color;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  max-width: 270px;
}
